:root {
    --bg: rgb(243, 224, 141);
    --bg-box: cyan;
    --bg-footer: rgb(233, 206, 87);
    --fg: black;
    --fg-sep: darkgray;
    --bd: black;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

footer {
    background-color: var(--bg-footer);
}

h1 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

h2, h3 {
    margin-bottom: 0.25rem;
}

#main {
    margin-top: 0.5rem;
    flex-grow: 1;
    border: 2px solid var(--bd);
    gap: 1rem;
}

#controls {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 0.25rem;
}

.control-sep {
    border-right: 1px solid var(--fg-sep);
}

.box {
    background-color: var(--bg-box);
    margin: 1.0rem;
    padding: 0.25rem;
    text-align: start;
    width: 300px;
    height: 300px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.invert-filter {
    filter: invert();
}

.wobble {
    animation: animate-wobble 0.5s linear;
}

@keyframes animate-wobble {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    35% {
        transform: rotate(-20deg);
    }

    55% {
        transform: rotate(15deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
