<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="custom.css">
    <script type="module" src="utils.js"></script>
    <script type="module" src="index.js"></script>
</head>

<body>
    <header>
        <h1>Template Document</h1>
        <h2 id="subheading">...sub heading...</h2>
        <div id="controls">
            <button id="reset">Reset</button>
            <span class="control-sep"></span>
            <input type="checkbox" name="check1" id="check1">
            <label for="check1">Red Box</label>
            <span class="control-sep"></span>
            <span id="app-status" class="app-status">●</span>
        </div>
    </header>
    <main id="main">
    </main>
    <footer id="clock">D/M/Y HH:MM:SS</footer>
</body>

</html>