:root {
    --bg: rgb(12, 12, 12);
    --fg: rgba(65, 71, 65, 0.8);
    --fg-mat: rgba(90, 194, 90, 0.821);
    /* --fg-mat: rgba(2, 23, 2, 0.821); */
}

body {
    font-family: monospace;

    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
    /* TODO: Why does adding this cause an overflow/scrollbar to appear? */
    height: 100vh;
}

#main {
    /* We want 40 chars wide */
    max-width: calc(32px * 40 + 4px);
    font-size: 32px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32px, 32px));
    /* border: 1px solid yellow; */
    justify-content: start;
    align-content: start;
    gap: 0px;
}

#main > span {
    color: var(--fg-mat);
    width: 32px;
    height: 32px;
}

h1 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0.2rem;
}