:root {
    --bg: rgb(144, 144, 144);
    --fg: black;
    --border: rgb(172, 255, 243);

    --bg-main: rgb(189, 189, 189);
    --bg-div: rgb(72, 72, 225);

    --fg-white: white;
    --fg-yellow: yellow;
    --fg-header: rgb(49, 14, 73);
    --fg-css-desc: black;
    --fg-sample-text: navy;

    --bg-odd: rgb(178, 34, 34, 0.8);
    --bg-even: rgba(34, 178, 94, 0.8);
    --bg-3rd-p: rgb(207, 119, 226);
    --bg-css-desc: lightblue;
    --bg-sample-text: lightgrey;

    --bd-2: rgb(245, 199, 206);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: var(--bg);
    color: var(--fg);
}

/* Counters */

body {
    counter-reset: nmain -1 ndiv -1 nart -1 np -1;
}

main {
    counter-reset: ndiv -1 nart -1 np -1;
    counter-increment: nmain;
}

article {
    counter-reset: ndiv -1;
    counter-increment: nart;
}

div {
    counter-reset: np -1;
    counter-increment: ndiv;
}

p {
    counter-increment: np;
}

main {
    background-color: var(--bg-main);
    max-width: 800px;
    margin-inline: auto;
    padding: 0.5rem;
    /* min-height: 100vh; */
}

h1 {
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

header {
    font-style: oblique;
    font-weight: 700;
    color: var(--fg-header);
    margin-bottom: 0.25rem;
}

article {
    border: 1px solid var(--border);
    padding: 0.25rem;
}

span {
    color: var(--fg-sample-text);
    background-color: var(--bg-sample-text);
    font-style: italic;
    font-weight: 500;
}

div {
    background-color: var(--bg-div);
    color: var(--fg-white);
    padding: 0.5rem;
}

/* Where we want to show some CSS descriptions */
:is(main, article, div, p)::before {
    border-bottom: 1px dashed;
    margin-bottom: 0.25rem;
    background-color: var(--bg-css-desc);
    color: var(--fg-css-desc);
    opacity: 66%;
    text-align: center;
    display: block;
}

main::before {
    content: "#"counter(nmain)": <main>";
}

div.odd {
    background-color: var(--bg-odd);
}

div.even {
    background-color: var(--bg-even);
}

div:nth-child(odd)::before {
    content: "#"counter(ndiv)": <div> (odd)";
}

div:nth-child(even)::before {
    content: "#"counter(ndiv)": <div> (even)";
}

div.odd::before {
    content: "#"counter(ndiv)": <div class=\"odd\">";
}

div.even::before {
    content: "#"counter(ndiv)": <div class=\"even\">";
}

div>p:nth-of-type(3) {
    background-color: var(--bg-3rd-p);
    color: black;
}

p::before {
    content: "#"counter(np)": <p>";
}

p:nth-of-type(2) {
    color: var(--fg-yellow);
}

article::before {
    content: "#"counter(nart)": <article>";
}

article div:nth-child(even) {
    outline: 2px solid var(--bd-2);
    margin-bottom: 0.75rem;
}

main>*+* {
    margin-top: 1rem;
    outline: 2px solid blue;
    border: 2px solid greenyellow;
}