/* Counters - NOTE: Nesting order is tricky */

:root {
    --otl-showCss: 1px dotted blue;
    --bd-showCss: 3px double greenyellow;
}

body {
    counter-reset: nmain -1 nart -1 nsection -1 ndiv -1 np -1;
}

main {
    counter-reset: nart -1 nsection -1 ndiv -1 np -1;
    counter-increment: nmain;
}

article {
    counter-reset: nsection -1, ndiv -1;
    counter-increment: nart;
}

section {
    counter-reset: ndiv -1 np -1;
    counter-increment: nsection;
}

div {
    counter-reset: np -1;
    counter-increment: ndiv;
}

p {
    counter-increment: np;
}

/* CSS Annotations */

/* Where we want to show some CSS descriptions */
:is(main.showCss, article.showCss, section.showCss, div.showCss, p.showCss)::before {
    border-bottom: 1px dashed;
    margin-bottom: 0.25rem;
    background-color: var(--bg-css-desc);
    color: var(--fg-css-desc);
    opacity: 66%;
    text-align: center;
    display: block;
}

main.showCss::before {
    content: "#"counter(nmain)": <main>";
}

div.showCss:nth-child(odd)::before {
    content: "#"counter(ndiv)": <div> (odd)";
}

div.showCss:nth-child(even)::before {
    content: "#"counter(ndiv)": <div> (even)";
}

div.showCss.odd::before {
    content: "#"counter(ndiv)": <div class=\"odd\">";
}

div.showCss.even::before {
    content: "#"counter(ndiv)": <div class=\"even\">";
}

p.showCss::before {
    content: "#"counter(ndiv)"."counter(np)": <div>.<p>";
}

article.showCss::before {
    content: "#"counter(nart)": <article>";
}

section.showCss::before {
    content: "#"counter(nsection)": <section>";
}

main.showCss, article.showCss, section.showCss, div.showCss, p.showCss {
    margin-top: 0.25rem;
    outline: var(--otl-showCss);
    /* border: var(--bd-showCss); */
}

.showCss {
    padding-left: 1.0rem;
}