:root {
    --bd: black;
    --bd-num: rgb(193, 57, 8);
    --bg: rgb(206, 220, 224);
    --fg: black;
    --fg-sep: darkgray;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    padding-bottom: 0.5rem;
}

#main {
    position: relative;
    flex-grow: 1;
    border: 2px solid var(--bd);
}

#controls {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 0.25rem;
}

.control-sep {
    border-right: 1px solid var(--fg-sep);
}

.number {
    border: 0.5rem solid var(--bd-num);
    position: absolute;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.fade {
    transition: opacity 0.5s linear;
    opacity: 33%;
}

.wobble {
    animation: animate-wobble 0.5s linear;
}

@keyframes animate-wobble {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    35% {
        transform: rotate(-20deg);
    }

    55% {
        transform: rotate(15deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

h1 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0.2rem;
}
